.nav_render_div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #001021 35%, #034748 100%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 15px;
}

.nav_button {
    padding: 10px;
    margin-left: 50px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 20px;
    background-color: #279abd;
    box-shadow: 0 9px #1b6c85;
    text-decoration: none;
}

.nav_button:active {
    background: #4ed6ff;
    box-shadow: 0 5px #0b6783;
    transform: translateY(4px);
}
