body {
    background-image: url(https://cdn.discordapp.com/attachments/842507308956778520/867087252931870750/patron_4.png),
        linear-gradient(180deg, #001021 35%, #034748 100%);
    margin: 0;
    background-attachment: fixed;
    font-family: cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 0;
    border-radius: 20px;
    margin-left: 20px;
}

select {
    padding: 10px;
    border: 0;
    border-radius: 20px;
    margin-left: 20px;
}

input[type='number'] {
    width: 80px;
}

label {
    font-size: 20px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
