.div-dog-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.dog-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dog-button-create {
    padding: 5px 10px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    background-color: #279abd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #1b6c85;
    width: 100px;
}

.dog-button-create:active {
    box-shadow: 0 5px #1b6c85;
    transform: translateY(4px);
}
