.div_dogs_buttons {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.prev {
    padding: 10px;
    font-size: 24px;
    color: #fff;
    background: linear-gradient(0deg, #0caadc 0%, #279abd 100%);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #0b6783;
    position: absolute;
    margin-left: -460px;
}

.next {
    padding: 10px;
    font-size: 24px;
    color: #fff;
    background: linear-gradient(0deg, #0caadc 0%, #279abd 100%);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #0b6783;
    position: absolute;
    margin-left: 460px;
}

.next:active {
    background: #4ed6ff;
    box-shadow: 0 5px #0b6783;
    transform: translateY(4px);
}

.prev:active {
    background: #4ed6ff;
    box-shadow: 0 5px #0b6783;
    transform: translateY(4px);
}

.index {
    margin: 2px;
    font-size: 20px;
    color: white;
    background: linear-gradient(0deg, #0caadc 0%, #279abd 100%);
    box-shadow: 0 9px #0b6783;
    border: none;
    border-radius: 15px;
}

.click-index {
    margin: 2px;
    font-size: 20px;
    color: white;
    background: linear-gradient(0deg, #0caadc 0%, #279abd 100%);
    border: none;
    border-radius: 15px;
    background: #4ed6ff;
    box-shadow: 0 5px #0b6783;
    transform: translateY(4px);
}

.index:active {
    background: #4ed6ff;
    box-shadow: 0 5px #0b6783;
    transform: translateY(4px);
}
