.div-dogs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
}

.div-dog {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: solid white;
    border-radius: 20px;
    width: 500px;
    height: 500px;
}

.div-dog:hover {
    background-color: rgba(15, 18, 53, 0.52);
}

.div-dog-img {
    width: 350px;
    border-radius: 10px;
}

.div-dog-p {
    border-radius: 5px;
}
