.nav_button {
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 20px;
    background-color: #279abd;
    box-shadow: 0 9px #1b6c85;
    text-decoration: none;
    margin: 30px;
}

.nav_button:active {
    background: #4ed6ff;
    box-shadow: 0 5px #0b6783;
    transform: translateY(4px);
}

.error {
    background-color: rgba(255, 0, 0, 0.781);
    border-radius: 30px;
    padding: 10px;
}
